@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#2A3843;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: 12px;
}

.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 40px;
}

.header h2{
    margin: 0;
    font-size: 24px;
}

.form{
    padding: 30px 40px;
    animation: iniciar 1.6s ease-out;
    pointer-events: all;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    color:#2A3843;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus{
    outline: 0;
    border-color: #34e2bd;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small{
    font-size: 12px;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}

.form button{
    background-color: #32C3A4;
    border: 2px solid #32C3A4;
    color: #fff;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    transition: all 0.3s ease;
}

.form button:hover{
    background-color: #34e2bd;
    border: 2px solid #34e2bd;
}

.sign-in{
    font-size: 16px;
    margin-top: 16px;
    text-align: center;
}

.sign-in a{
    text-decoration: none;
    margin-left: 4px;
    color: #32C3A4;
}

.sign-in a:hover{
    text-decoration: underline;
}
